{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jetpo CRM{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo-color-wobg.png' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.12.6/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.3/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    {% tailwind_css %}
</head>
<body class="text-gray-900 text-sm scroll-smooth" x-data>
    <div class="flex">
        {% include 'base/sidebar.html' %}
        <div class="w-full">
            <div class="h-16 border-b border-gray-200 flex items-center justify-between px-4">
                <div class="flex items-center gap-2">
                    <button class="btn-ghost" x-on:click="$store.sidebarOpen.toggle()">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 5V19M16 8H18M16 11H18M16 14H18M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <span class="h-3 border-l border-gray-200 w-[calc(1px)]"></span>
                    <div class="breadcrumbs-wrapper">
                        {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                    </div>
                </div>
                <div class="flex items-center space-x-4">
                    <button class="btn-ghost">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.00195 17H5.60636C4.34793 17 3.71872 17 3.58633 16.9023C3.4376 16.7925 3.40126 16.7277 3.38515 16.5436C3.37082 16.3797 3.75646 15.7486 4.52776 14.4866C5.32411 13.1835 6.00031 11.2862 6.00031 8.6C6.00031 7.11479 6.63245 5.69041 7.75766 4.6402C8.88288 3.59 10.409 3 12.0003 3C13.5916 3 15.1177 3.59 16.2429 4.6402C17.3682 5.69041 18.0003 7.11479 18.0003 8.6C18.0003 11.2862 18.6765 13.1835 19.4729 14.4866C20.2441 15.7486 20.6298 16.3797 20.6155 16.5436C20.5994 16.7277 20.563 16.7925 20.4143 16.9023C20.2819 17 19.6527 17 18.3943 17H15.0003M9.00195 17L9.00031 18C9.00031 19.6569 10.3435 21 12.0003 21C13.6572 21 15.0003 19.6569 15.0003 18V17M9.00195 17H15.0003"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="btn-ghost w-50">
                        <div class="flex gap-2">
                            <img src="{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% else %}{% static 'images/default-avater.png' %}{% endif %}" alt="Profile picture" class="w-10 h-10 squircle object-cover">
                            <div class="text-start">
                                <p class="font-semibold text-gray-700">{{ request.user.get_full_name }}</p>
                                <p class="text-xs text-gray-400">{{ request.user }}</p>
                            </div>
                        </div>
                        <div>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                    d="m8 10 4 4 4-4" />
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
            <div class="w-full overflow-y-auto h-[830px]">
                {% block content %}
                {% endblock content %}
                <!-- Toast Messages -->
                 {% if messages %}
                 <div class="absolute bottom-10 left-10 w-80 flex flex-col gap-2 z-50">
                    {% for message in messages %}
                    <div x-data="{show : true}">
                    <div class="message" x-show="show">
                        <button class="absolute top-3 left-3 text-gray-500 cursor-pointer hover:text-gray-700" @click="show = false">
                            <svg class="size-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 6L18 18M18 6L6 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        {% if message.level_tag == 'success' %}
                        <span class="text-emerald-700 font-semibold">
                            <svg class="size-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 12.3333L10.4615 15L16 9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </span>
                        {% elif message.level_tag == 'error' %}
                        <span class="text-rose-700 font-semibold">
                            <svg class="size-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 17.0001H12.01M12 10.0001V14.0001M6.41209 21.0001H17.588C19.3696 21.0001 20.2604 21.0001 20.783 20.6254C21.2389 20.2985 21.5365 19.7951 21.6033 19.238C21.6798 18.5996 21.2505 17.819 20.3918 16.2579L14.8039 6.09805C13.8897 4.4359 13.4326 3.60482 12.8286 3.32987C12.3022 3.09024 11.6978 3.09024 11.1714 3.32987C10.5674 3.60482 10.1103 4.4359 9.19614 6.09805L3.6082 16.2579C2.74959 17.819 2.32028 18.5996 2.39677 19.238C2.46351 19.7951 2.76116 20.2985 3.21709 20.6254C3.7396 21.0001 4.63043 21.0001 6.41209 21.0001Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </span>
                        {% endif %}
                        <div>
                            <p class="font-semibold">{{ message }}</p>
                            <p class="text-xs text-gray-500">{{ message.extra_tags }}</p>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                 </div>
                 {% endif %}
            </div>
        </div>
    </div>    
    
        
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('sidebarOpen', {
                on: localStorage.getItem('sidebarOpen') === 'false' ? false : true,
                toggle() {
                    this.on = ! this.on
                    localStorage.setItem('sidebarOpen', this.on)
                }
            });
            Alpine.store('selectedMainTab', {
                tab : localStorage.getItem('selectedMainTab') || 'home',
                change(name) {
                    this.tab = name
                    localStorage.setItem('selectedMainTab', this.tab)
                }
            })
        })
        // Toast Messages fade away after 3 seconds and slide up to view on load
        document.addEventListener('DOMContentLoaded', () => {
            const messages = document.querySelectorAll('.message');
            messages.forEach((message) => {
                setTimeout(() => {
                    message.classList.add('fade-out');
                    message.addEventListener('animationend', (e) => {
                        if (e.animationName === 'fade-out') {
                            message.remove();
                        }
                    }, { once: true });
                }, 4000);
            });
        });
        
    </script>
</body>
</html>